body{
  background-image: url(images/bdmap-.jpg);
  background-color:aliceblue;
}
h1{
  font-size: 60px;
  text-align: center;
  color: #a0c11b;
}
.h1v2{
  color: blue;
}

#h1v3{
  color: red;
  text-align: left;
}
.main-container{
  background-color: purple;
  opacity: 90%;
  color: aliceblue;
  padding:20px;
  text-align: justify;
  border-radius: 10px;
}
